<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCzG14E958xfmmgk95AkOk_W1a406g8Cs8</string>
	<key>GCM_SENDER_ID</key>
	<string>755093503541</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tezda</string>
	<key>PROJECT_ID</key>
	<string>tezda-e0101</string>
	<key>STORAGE_BUCKET</key>
	<string>tezda-e0101.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:755093503541:ios:4ec96bfcd21a156b2d3b7c</string>
</dict>
</plist>